/* 428px */
@media screen and (max-width: 26.75rem) and (orientation: portrait) {
  .menu-btn {
    display: inline-block;
    position: relative;
    width: 2.6rem;
    height: 2.6rem;
    cursor: pointer;
    z-index: 1;
  }

  .icon {
    width: 100%;
    display: inline-block;
  }

  .nav-header_list {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: -50%;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  #menu-toggle:checked ~ .menu-btn .icon-menu {
    display: none;
  }

  .icon-close {
    display: none;
  }

  #menu-toggle:checked ~ .menu-btn .icon-close {
    display: inline-block;
  }

  #menu-toggle:checked ~ .nav-header_list {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
  }

  .section-cta {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .section-cta_article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-cta_article_title {
    font-size: 4rem;
    text-align: center;
  }

  .section-cta_article_subtitle {
    font-size: 1.6rem;
    text-align: center;
  }

  .supporting_woman {
    width: 352px;
    height: 352px;
  }
}
