@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-blue: #8eadd5;
  --off-black: #272D38;
  --off-black2: #667085;
  --off-white: #FFF;
  --off-white2: #F6F6F6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Inter";
}

a {
  text-decoration: none;
  color: var(--off-black);
}

ul li {
  list-style-type: none;
}

nav {
  max-width: 130rem;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 25px;
  font-size: 1.5rem;
}

.nav-header_logo {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-header_list {
  display: flex;
  gap: 55px;
}

main {
  margin: 0 auto;
  max-width: 130rem;
}

.section-cta {
  background: radial-gradient(circle at top left, #6670851e 5%, transparent 20%);
  /* background-origin: top left; */
  background-position: top 10% left 10%;
  height: 75vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 35px;
  flex-wrap: nowrap;
}

.section-cta_article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.section-cta_article_title {
  font-size: 8rem;
}

.section-cta_article_subtitle {
  font-size: 2rem;
  font-weight: 300;
}

p {
  font-size: 1.8rem;
}

.section-cta figure img {
  width: 450px;
  height: 450px;
}

.section-cta-btn {
  background-color: var(--primary-blue);
  padding: 15px 30px;
  color: var(--off-white);
  border-radius: 10px;
  font-size: 1.6rem;
}

.section-partners {
  max-width: 130rem;
  margin: 0 auto;
  display: flex;
  height: 15vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-partners-title {
  color: var(--off-black2);
  font-weight: 200;
  margin-bottom: 15px;
}

.section-partners-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.section-branding-analisys {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;
  margin: 0 auto;
  padding: 35px;
}

.section-branding-analisys_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.section-branding-analisys_title {
  font-size: 7rem;  
}

.section-branding-analisys_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 70px;
}

.btn-go {
  height: 1.8rem;
}

.btn-link {
  margin-top: 5rem;
}


.section-testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 130rem;
  padding: 35px;
  height: 50vh;
}

.section-testimonials_subtitle {
  font-size: 4.6rem;
  margin-bottom: 1.8rem;
}

.testimonial_name {
  font-size: 1.6rem;
}

.testimonial_text {
  font-size: 1.4rem;
  font-weight: 300;
}

.list-testimonials_testimonial {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.testimonial_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 27px;
  padding: 15px;
  width: 34.5rem;
  height: 33.4rem;
  background-color: var(--off-white2);
  border-radius: 15px;
}

.testimonial_photo {
  width: 13rem;
  height: 13rem;
}