@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  /* --primary-blue: #8eadd5; */
  --primary-blue: #47576b;
  --off-black: #272d38;
  --off-black2: #667085;
  --off-white: #fff;
  --off-white2: #f6f6f6;
  --desktop: 90rem
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Inter";
}

a {
  text-decoration: none;
  color: var(--off-black);
}

ul li {
  list-style-type: none;
}

nav {
  /* max-width: 130rem; */
  /* max-width: 106.5rem; */
  max-width: var(--desktop);
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 25px;
  font-size: 1.5rem;
  border-radius: 0 0 15px 15px;
  background-color: var(--off-white2);
}

.nav-header_logo {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-header_list {
  display: flex;
  gap: 55px;
}


.container-hamburger {
  display: none;
}

.btn-hamburger {
  display: none;
}

main {
  margin: 0 auto;
  /* max-width: 130rem; */
  /* max-width: 106.5rem; */
  max-width: var(--desktop);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.section-cta {
  /* background: radial-gradient(
    circle at top left,
    #6670851e 5%,
    transparent 20%
  ); */
  /* background-origin: top left; */
  /* background-position: top 10% left 10%; */

  height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  flex-wrap: nowrap;
}

.section-cta_article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  padding: 25px;
}

.section-cta_article_title {
  font-size: 6rem;
}

.section-cta_article_subtitle {
  font-size: 2rem;
  font-weight: 300;
}

p {
  font-size: 1.8rem;
}

.section-cta figure img {
  width: 450px;
  height: 450px;
}

.section-cta-btn,
.support-info_cta-btn {
  background-color: var(--primary-blue);
  padding: 15px 30px;
  color: var(--off-white);
  border-radius: 15px;
  font-size: 1.6rem;
}

.section-partners {
  /* max-width: 130rem; */
  max-width: var(--desktop);
  margin: 0 auto;
  margin: 1.5rem 0 1.5rem;
  display: flex;
  height: 15vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--off-white2);
  border-radius: 15px;
}

.section-partners-title {
  color: var(--off-black2);
  /* font-weight: 200; */
  font-weight: 300;
  margin-bottom: 15px;
}

.section-partners-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.section-branding-analisys {
  display: grid;
  max-width: var(--desktop);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 15px;
  gap: 15px;
}

.section-branding-analisys_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.section-branding-analisys_title {
  font-size: 6rem;
}

.section-branding-analisys_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 70px;
  gap: 15px;
}

.btn-go {
  height: 1.8rem;
}

.btn-link {
  margin-top: 5rem;
}

.section-testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* max-width: 130rem; */
  max-width: var(--desktop);
  padding: 15px;
  /* margin: 1.5rem 0 1.5rem; */
  margin: 0 auto;
  gap: 25px;
}

.section-testimonials_subtitle {
  font-size: 4.6rem;
  margin-bottom: 2rem;
}

.testimonial_name {
  font-size: 1.6rem;
}

.testimonial_text {
  font-size: 1.4rem;
  font-weight: 300;
}

.list-testimonials_testimonial {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.testimonial_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 27px;
  padding: 15px;
  width: 34.5rem;
  height: 33.4rem;
  background-color: var(--off-white2);
  border-radius: 15px;
}

.testimonial_photo {
  width: 13rem;
  height: 13rem;
}

.section-support {
  margin: 0 auto;
  max-width: var(--desktop);
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* background-color: var(--off-white2); */
  border-radius: 15px;
  margin-bottom: 35px;
}

.support-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 25px;
  line-height: 1.2;
  text-align: left;
  width: 100%;
}

.supporting_woman {
  width: 450px;
  height: 450px;
  display: flex;
  justify-self: center;
  align-self: center;
}

.support-info_title {
  font-size: 6rem;
}

.support-info_text {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5;
}

.section-footer {
  margin: 0 auto;
  max-width: var(--desktop);
  height: 40vh;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  background-color: var(--off-white2);
  border-radius: 15px 15px 0 0;
}

.section-footer_items {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}

.section-footer_social {
  display: flex;
  gap: 15px;
}

.fa-brands {
  font-size: 1.6rem;
}

.section-footer_title {
  font-size: 2rem;
}

.section-footer_social li,
.section-footer_subtitle,
.section-footer_link,
.section-footer_address a {
  font-size: 1.8rem;
}

.section-footer_title {
  margin-bottom: 5.5rem;
}

.section-footer_subtitle {
  margin-bottom: 10px;
}

.section-footer_links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-footer_address_list li a {
  font-style: initial;
}
